<!doctype html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav class="navigationWrapper">
      <div class="logoWrapper">
        <span class="stylish">Technical</span>
        <span class="logo">Assessment</span>
      </div>
      <ul class="navigation">
        <li><a class="link" href="/">Home</a></li>
        <li><a class="link" href="/login">Login</a></li>
        <li><a class="link" href="/signup">Sign Up</a></li>
        <li><a class="link" href="/users">Account</a></li>
        <li><a class="link" href="/">Results</a></li>
        <li><a class="link" href="/logout">Log Out</a></li>
      </ul>
    </nav>
  </head>