<%- include('partials/header.ejs') %>

    <body>
        <h1 style="color:rgb(194, 194, 194)">Welcome to Technical Assessment!</h1>
        <div>
            <img src="img/CodingHomeImage.jpg" alt="CodingHomeImage" width="700" height="500">
        </div>
        <%- include('partials/footer.ejs') %> 
    </body>
</html>
