<%- include('partials/header.ejs') %>
  <body>
    <div class="content">
      <form action="/" >
        <label for="timer">Time Amount : </label><br><br>
        <select name="timer" id="timer">
          <option value="2">2 minutes</option>
          <option value="5">5 minutes</option>
          <option value="10">10 minutes</option>
          <option value="20">20 minutes</option>
        </select> <br>
        <input class="start-btn" type="submit" value="Start Quiz!">
      </form>
    </div>
  </body>

<%- include('partials/footer.ejs') %> 
