<%- include('partials/header.ejs') %>
  <body><p> <br> </p>
    <div class="content" >
      <form action="/" >
        <label for="timer">Select language to do quiz:</label><br><br>
        <select name="timer" id="language">
          <% for( let i = 0; i < Option.length; i++ ) { %>
            <option><%- Option[i] %></option>
          <% } %>
        </select> <br><br>
        <input class="start-btn" type="submit" value="Start Quiz!">
      </form>
    </div>
  </body>
  <script>
    $(document).ready(function() {
      $('.start-btn').click(function(e) {
        e.preventDefault()
        window.location.href = 'quiz?' + $('#language').val()
      })
    })
  </script>
<%- include('partials/footer.ejs') %>
