<%- include('partials/header.ejs') %>
  <body>
    <div id="loginSection">
      <h1>Login</h1>
      <form action="/login" method="post">
            Username: <input type="text" /><br><br>
            Password: <input type="text" /><br><br>
            <input type="submit" value="Login"/><br><br><hr>
    </form>
    </div>
    
  </body>
<%- include('partials/footer.ejs') %> 
