<%- include('partials/header.ejs') %>
  <body>
    <div id="loginSection">
      <h1>Login</h1>
      <form action="/login" method="POST">
            Username: <input type="text" class="input-box" id="usernameInput"/><br><br>
            Password: <input type="text" class="input-box" id="passwordInput"/><br><br>
            <button class="start-btn">Log In!</button>
            <br>
            <%if(loginError){%>
              <h1 class="centerText" style="color: #222;">Incorrect Username or Password</h1>
              <%}%>
    </form>
    </div>
    
  </body>
<%- include('partials/footer.ejs') %> 
