<!DOCTYPE html>
<html>
  <header>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h1>Login to Account</h1>
    <a href="/" class="btn btn-primary my-2">Home</a>
    <hr>
  </header>
  <body>
    <form action="/login" method="post">
            Username: <input type="text" /><br><br>
            Password: <input type="text" /><br><br>
            <input type="submit" value="Login"/><br><br><hr>
    </form>
  </body>
</html>
