<%- include('partials/header.ejs') %>
  <body>
    <div id="signupSection">
      <h1>Create Account</h1>
      <form action="/signup" method="post">
        First Name: <input type="text" /><br><br>
        Last Name: <input type="text" /><br><br>
        Username: <input type="text" /><br><br>
        Password: <input type="text" /><br><br>
        <input type="submit" value="SignUp"/><br><br><hr>
      </form>
    </div>
    
  </body>
  <%- include('partials/footer.ejs') %> 
