<%- include('partials/header.ejs') %>

  <body>
    <h1 style="color:rgb(194, 194, 194)">Sign Up for a New Account</h1> 
    <h3>Username must be 5 characters or longer<br>Password must be 8 characters or longer</h3>
    
    <form action='/signup' method='POST'>
      <div class = "input-label">
      <label for = "fname">First Name: <br></label>
      <input class="input-box" type = "text" id = "fname" name = "fname" placeholder='First Name' required> 
      <br>
      <label for = "lname">Last Name: <br></label>
      <input class="input-box" type = "text" id = "lname" name = "lname" placeholder='Last Name' required> 
      <br>
      <label for = "newUsername">Username: <br></label>
      <input class="input-box" class="input-box" type = "text" id = "newUsername" name = "newUsername" placeholder='New Username' pattern = ".{5,}" required> 
      <br>
      <label for = "newPassword">Password: <br></label>
      <input class="input-box" type = "password" id = "newPassword" name = "newPassword" placeholder = "New Password" pattern = ".{8,}" required>
      <br>
      <label for = "confirmPassword">Re Enter Password: <br></label> 
      <input class="input-box" type = "password" id = "confirmPassword" name = "confirmPassword" placeholder = "Re Enter Password" pattern = ".{8,}" required>
      <br>
      </div><br>
      <button class="start-btn">Sign Up!</button>
      <br>
      <%if(signUpError){%>
          <h1 class="centerText" style="color: #222;">Username Taken!</h1>
          <%}%>
      <%if(dontMatch){%>
          <h1 class="centerText" style="color: #222;">Passwords Do Not Match! Re Enter Info</h1>
          <%}%>
    </form>
  </body>

<%- include('partials/footer.ejs') %> 
