body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%);
}

.navigationWrapper{
  position: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.logoWrapper {
  display: flex;
}

.stylish {
  font-weight: bold;
}

.logo {
  padding-left: 4px;
  color: #ea4f4c;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.link {
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #ea4f4c;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(54, 54, 54);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  width: 300px;
  height: 250px;
}

.cntnt {
  padding: 20px;
  text-align: center;
  background-color: rgb(54, 54, 54);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  width: 450px;
  height: 100px;
  border-radius: 15px;
}

.cntnt2 {
  padding: 20px;
  text-align: center;
  background-color: rgb(54, 54, 54);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  width: 450px;
  height: max-content;
  border-radius: 15px;
}

.start-btn {
  font-family: "Roboto", sans-serif;
  background-color: #6d0019;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 30px;
  color: rgb(223, 223, 223);
  box-shadow: 0 5px 5px 0 black;
}

.start-btn:hover {
  background-color: #ea4f4c;
}

#loginSection {
  text-align: center;
  position: fixed;
  top: 13%;
}

#mainTimeSection{
  text-align: center;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#timer {
  font-size: 20px;
  background-color: #ea4f4c;
  border-color: transparent;
}

footer {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}


/**
 * The following are for the table
 * that holds all the questions used
 * in our quizzes.
 */
#questionTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.input-box {
  background-color: #3f3f3f;
  color: white;
  border-color: #6d0019;
  font-size: 27px;
  border-radius: 6px;
}

.input-box2 {
  background-color: #3f3f3f;
  color: white;
  border-color: black;
  font-size: 20px;
  border-radius: 6px;
}

hr { 
  border : 0;
  width: 60%;
  height: 1.5px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

